<div class="container">
    <h3 class="center-align">Билеты</h3>

    {{#if tickets.length}}
        <ul class="collapsible popout">
            {{#each tickets}}
                <li class="list-tickets">
                    <div class="collapsible-header">
                        <b>Билет №{{this.ticketNumber}}</b>
                    </div>
                    <div class="collapsible-body">
                        <!-- Таймер, который отображается по умолчанию -->
                        <div class="center-align timer-container" id="timerContainer{{this.ticketNumber}}" style="margin-bottom: 20px;">
                            <span class="timer" id="timer{{this.ticketNumber}}">20:00</span>
                        </div>

                        <ul class="collapsible">
                            {{#each this.questions}}
                                <li id="question-{{increment @index}}" class="list-questions ticket-{{../this.ticketNumber}}">
                                    <div class="collapsible-header">Вопрос №{{increment @index}}: {{this.question}}</div>
                                    <div class="collapsible-body">
                                        {{#each this.answers}}
                                            <div class="answer-block">
                                                {{#if this.isCorrect}}
                                                    <div class="answer-note correct-answer">Правильный ответ</div>
                                                {{else}}
                                                    <div class="answer-note additional-answer">Дополнительный ответ</div>
                                                {{/if}}
                                                <p>{{this.answer}}</p>
                                            </div>
                                        {{/each}}
                                    </div>
                                </li>
                            {{/each}}
                        </ul>

                        <!-- Кнопки "Изменить" и "Удалить" -->
                        <div class="center-align" style="margin-top: 20px;">
                            <input type="hidden" name="_csrf" value="{{@root.csrf}}">
                            <button
                                    type="button"
                                    class="btn waves-effect waves-light edit-btn"
                                    data-ticket="{{this.ticketNumber}}">Изменить</button>
                            <button
                                    type="button"
                                    class="btn waves-effect waves-light red delete-btn"
                                    data-ticket="{{this.ticketNumber}}">Удалить</button>
                        </div>
                    </div>
                </li>
            {{/each}}
        </ul>
    {{else}}
        <p>Билетов пока нет.</p>
    {{/if}}
</div>
