<div class="container">
    <h2 class="center-align">Статистика</h2>
    <p class="center-align">На этой странице собрана статистика по вашему обучению правилам безопасного обращения с
                            оружием.</p>

    <div class="section">
        <h5 class="center-align">Билеты</h5>
        <ul class="collection">
            <li class="collection-item">
                Количество решенных билетов
                <span class="secondary-content">
                    {{statistics.tickets.resolved}}
                </span>
            </li>
            <li class="collection-item">
                Количество не решенных билетов
                <span class="secondary-content">
                    {{statistics.tickets.unresolved}}
                </span>
            </li>
        </ul>
    </div>

    <div class="section">
        <h5 class="center-align">Вопросы</h5>
        <ul class="collection">
            <li class="collection-item">
                Общее количество ответов на вопросы
                <span class="secondary-content">
                    {{statistics.questions.totalAnswered}}
                </span>
            </li>
            <li class="collection-item">
                Количество верных ответов
                <span class="secondary-content">
                    {{statistics.questions.correctAnswers}}
                </span>
            </li>
            <li class="collection-item">
                Количество ошибочных ответов
                <span class="secondary-content">
                    {{statistics.questions.incorrectAnswers}}
                </span>
            </li>
        </ul>
    </div>

    <div class="section">
        <h5 class="center-align">Экзамены</h5>
        <ul class="collection">
            <li class="collection-item">
                Общее количество пройденных экзаменов
                <span class="secondary-content">0</span>
            </li>
            <li class="collection-item">
                Успешно сданные экзамены
                <span class="secondary-content">0</span>
            </li>
            <li class="collection-item">
                Проваленные экзамены
                <span class="secondary-content">0</span>
            </li>
        </ul>
    </div>
</div>